<!-- Footer -->
<footer id="footer">
  <section class="page-section text-dark">
    <div class="container text-white">
      <div class="row">
        <div class="col-lg-2 py-4">
          <div class="text-white">
            <h4 class="py-2">제품소개</h4>
            {% for project in site.portfolio %}
            <div class="d-flex mt-2 align-items-center">
              <i class="fas fa-caret-right"></i>
              <a data-toggle="modal" href="#p{{ forloop.index }}"><p class="ml-2 m-0">{{ project.caption.title }}</p></a>
            </div>
            {% endfor %}
          </div>
        </div> <!-- end of col -->

        <div class="col-lg-3 py-4">
          <div>
            <h4 class="py-2">고객사</h4>
            <div class="d-flex mt-2 align-items-center">
              <i class="fas fa-caret-right"></i>
              <a href="#clients" class="js-scroll-trigger"><p class="ml-2 m-0">삼성SDS</p></a>
            </div>
            <div class="d-flex mt-2 align-items-center">
              <i class="fas fa-caret-right"></i>
              <a href="#clients" class="js-scroll-trigger"><p class="ml-2 m-0">삼성SDI</p></a>
            </div>
            <div class="d-flex mt-2 align-items-center">
              <i class="fas fa-caret-right"></i>
              <a href="#clients" class="js-scroll-trigger"><p class="ml-2 m-0">삼성전기</p></a>
            </div>
            <div class="d-flex mt-2 align-items-center">
              <i class="fas fa-caret-right"></i>
              <a href="#clients" class="js-scroll-trigger"><p class="ml-2 m-0">삼성디스플레이</p></a>
            </div>
            <div class="d-flex mt-2 align-items-center">
              <i class="fas fa-caret-right"></i>
              <a href="#clients" class="js-scroll-trigger"><p class="ml-2 m-0">솔브레인</p></a>
            </div>
          </div>
        </div> <!-- end of col -->

        <div class="col-lg-4 py-4">
          <div>
            <h4 class="py-2">CONCAT US</h4>
            <div class="d-flex align-items-center py-2">
              <i class="fas fa-paper-plane"></i>
              <p class="ml-2 m-0">master@hamasol.com</p>
            </div>
            <div class="d-flex align-items-center py-2">
              <i class="fas fa-phone-volume"></i>
              <p class="ml-2 m-0">031-****-****</p>
            </div>
            <div class="d-flex align-items-center py-2">
              <i class="fas fa-house-damage"></i>
              <p class="ml-2 m-0">
                경기도 화성시 동탄대로 706 동탄IT밸리2 718호
              </p>
            </div>
            <div class="d-flex align-items-center py-2">
              <i class="fas fa-map-marker-alt"></i>
              <a href="#location">
                <p class="ml-2 m-0">View large map</p>
              </a>
            </div>
          </div>
        </div> <!-- end of col -->

        <div class="col-lg-3 py-4">
          <div>
            <h4 class="py-2">공식파트너</h4>
            <p class="py-3 para-light">
              AVEVA
            </p>
          </div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </section>


  <div class="container">
    {% if site.locale and site.locale != "" and site.locale != nil %}
    <div class="row align-items-center">
      <div class="col-md-5">
        <span class="copyright w-100 text-white">
          Copyright &copy; HAMA Solution Co.All Rights Reserved. {{ 'now' | date: "%Y" }}
        </span>
      </div>
    </div>
    {% else %}

    {% endif %}
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
<!-- End Footer -->
