.client-logo {
  max-width: 90%; // 부모 컨테이너 너비의 90%까지 허용 (패딩 효과)
  max-height: 90%; // 부모 컨테이너 높이의 90%까지 허용 (패딩 효과)
  width: auto;   // 가로세로 비율 유지
  height: auto;  // 가로세로 비율 유지
  object-fit: contain; // 이미지를 컨테이너에 맞추면서 가로세로 비율 유지

  .client-logo-img {
    display: flex; // Flexbox를 사용하여 이미지를 컨테이너 내에서 정렬
    justify-content: center; // 수평 가운데 정렬
    align-items: center;   // 수직 가운데 정렬
    max-height: 40px;
  }
}